@model IEnumerable<ProyectoDS1.Models.Usuario>

@{
    ViewData["Title"] = "ListUsuario";
}

<h1>Usuarios</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.codigoUsuario)
            </th>
            <th>
                Nombre
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                Rol
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.codigoUsuario)
                </td>
                <td>
                    @item.nombreCompleto()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreRol)
                </td>
                <td>
                    @item.estadoUsuario()
                </td>
                <!-- 3 ACCIONES
                    <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.idUsuario }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Ver", "Details", new { id = item.idUsuario }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.idUsuario }, new { @class = "btn btn-danger" })
                </td>

                -->
                <td>
                    @Html.ActionLink("Ver", "Details", new { id = item.idUsuario }, new { @class = "btn btn-warning" }) 
                </td>
            </tr>
        }
    </tbody>
</table>

